  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="productSKU">Product SKU</label>
        <input #productSKU type="text" class="form-control" id="productSKU" placeholder="Enter Product SKU" required>
      </div>
      <div class="form-group">
        <label for="productTitle">Product Title</label>
        <input type="text" class="form-control" id="productTitle" placeholder="Enter Product Title" #productTitle>
      </div>
      <div class="form-group">
        <label for="productSubtitle">Product Subtitle</label>
        <input type="text" class="form-control" id="productSubtitle" placeholder="Enter Product Subtitle" #productSubtitle>
      </div>
      <div class="form-group">
        <label for="productPrice">Product Price (USD)</label>
        <input type="text" class="form-control" id="productPrice" placeholder="Enter Product Price" #productPrice>
      </div>
      <div class="form-group">
        <label for="productType">Select Product Type</label>
        <select class="form-control" id="productType" #productType>
          <option *ngFor="let type of listingTypes" [value]="type">{{type}}</option>
        </select>
      </div>
      <div class="row">
        <div class="col-sm-6" id="imageFieldsWrapper">
          <div class="form-group">
            <label for="image1Path">Image 1</label>
            <select class="form-control" name="image1Path" id="image1Path" size="1" #image1Path>
              <option *ngFor="let file of fileNames" [value]="file">{{file}}</option>
            </select>
          </div>
        </div>
      </div>
      <div id="imageFieldButtonsWrapper">
        <button class="btn" id="addNewImageField" (click)="addExtraImageFields()">+</button>
        <button class="btn" id="removeNewImageField" (click)="removeExtraImageField()">-</button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="productDescription">Product Description</label>
        <textarea class="form-control" id="productDescription" rows="8" #productDescription></textarea>
      </div>
      <div class="form-group">
        <label for="productCondition">Product Condition</label>
        <input type="text" class="form-control" id="productCondition" placeholder="Enter Product Condition" #productCondition>
      </div>
      <div class="form-group">
        <label for="storageLocation">Storage Location</label>
        <input type="text" class="form-control" id="storageLocation" placeholder="Enter Storage Location" #storageLocation>
      </div>

      <div class="submitButtonWrapper">
        <button class="btn" id="newPostSubmitButton" (click)="onNewListingSubmit(productTitle,
                                                                                productSubtitle,
                                                                                productType,
                                                                                productPrice,
                                                                                productDescription,
                                                                                productCondition,
                                                                                productSKU,
                                                                                storageLocation,
                                                                                image1Path)">Submit</button>
      </div>
    </div>
  </div>
