.listing-display-li {
  background-color: ghostwhite;
  border: .2em solid #eaeaea;
  min-height: 10em;
  margin: .8em 0;
  padding: 1em;
  color: #1b6d85;
  font-size: 150%;
}

.listing-display-ul {
  list-style: none;
}

.listing-title {
  font-size: 2em;
}

.image-thumbnail{
  max-width: 100%;
}

/*.listing-display-ul > li:nth-of-type(odd) {*/
  /*background: lightgrey;*/
/*}*/
