<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="title">Singularity</h1>
    </div>
    <div class="col-sm-4">
      <h1 class="subtitle">Rare + Fine</h1>
    </div>
  </div>
  <hr>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="#" class="navbar-link-light">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a (click)="goToBooks()">Books</a></li>
      <li><a (click)="goToArt()">Art</a></li>
      <li><a (click)="goToGems()">Gems + Minerals</a></li>
      <li><a (click)="goToCoins()">Coins + Currency</a></li>
      <li><a (click)="goToCollectibles()">Collectibles</a></li>
      <li><a (click)="goToSports()">Sports</a></li>
    </ul>
    <ul *ngIf="userIsLoggedIn()" class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a (click)="goToAddNewListing()">Add New Listing</a></li>
          <li><a (click)="goToImageGallery()">Image Gallery</a></li>
          <li><a (click)="adminLogout()">Logout</a></li>

        </ul>
      </li>

    </ul>
  </div>
  <!--<site-navigation></site-navigation>-->
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="footer-container">
    <p>Copyright 2017 | Ryan Harvey</p>
  </div>
</footer>
