.title {
  font-size: 10em;
}

.subtitle {
  margin-top: 1em;
  font-size: 5em;
}

.container{
  background-color: #1b6d85;
  color: #eaeaea;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  min-height:100%;
}

body, html {
  height: 100%;
}

