<div class="edit-listing">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="productSKU">Product SKU</label>
        <input [(ngModel)]="currentListing.sku" type="text" class="form-control" id="productSKU" placeholder="Enter Product SKU" required>
      </div>
      <div class="form-group">
        <label for="productTitle">Product Title</label>
        <input [(ngModel)]="currentListing.productTitle"  type="text" class="form-control" id="productTitle" placeholder="Enter Product Title">
      </div>
      <div class="form-group">
        <label for="productSubtitle">Product Subtitle</label>
        <input [(ngModel)]="updatedListing.productSubTitle" value="{{(currentListing | async)?.productSubTitle}}" type="text" class="form-control" id="productSubtitle" placeholder="Enter Product Subtitle">
      </div>
      <div class="form-group">
        <label for="productPrice">Product Price (USD)</label>
        <input [(ngModel)]="updatedListing.productPrice" value="{{(currentListing | async)?.productPrice}}" type="text" class="form-control" id="productPrice" placeholder="Enter Product Price">
      </div>
      <div class="form-group">
        <label for="productType">Select Product Type</label>
        <select multiple class="form-control" id="productType">
          <option *ngFor="let type of listingTypes" [value]="type">{{type}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="productDescription">Product Description</label>
        <textarea [(ngModel)]="currentListing.productDescription" class="form-control" id="productDescription" rows="8"></textarea>

        <label for="productCondition">Product Condition</label>
        <input [(ngModel)]="updatedListing.productCondition" value="{{(currentListing | async)?.productCondition}}" type="text" class="form-control" id="productCondition" placeholder="Enter Product Condition">
      </div>
      <div class="form-group">
        <label for="storageLocation">Storage Location</label>
        <input [(ngModel)]="updatedListing.location" value="{{(currentListing | async)?.location}}" type="text" class="form-control" id="storageLocation" placeholder="Enter Storage Location">
      </div>
      <div class="form-group">
        <label for="image1Path">Image 1</label>
        <input [(ngModel)]="updatedListing.image1Path" value="{{(currentListing | async)?.image1Path}}" type="text" class="form-control" name="image1Path" id="image1Path" placeholder="Enter Image 1 File Name" #image1Path>
      </div>
      <button class="btn" id="newPostSubmitButton" (click)="onEditListingSubmit()">Submit</button>
    </div>
  </div>
</div>
