<div class="edit-listing">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="productSKU">Product SKU</label>
        <input type="text" class="form-control" id="productSKU" placeholder="Enter Product SKU" required>
      </div>
      <div class="form-group">
        <label for="productTitle">Product Title</label>
        <input  type="text" class="form-control" id="productTitle" placeholder="Enter Product Title">
      </div>
      <div class="form-group">
        <label for="productSubtitle">Product Subtitle</label>
        <input type="text" class="form-control" id="productSubtitle" placeholder="Enter Product Subtitle">
      </div>
      <div class="form-group">
        <label for="productPrice">Product Price (USD)</label>
        <input type="text" class="form-control" id="productPrice" placeholder="Enter Product Price">
      </div>
      <div class="form-group" id="typeSelect">
        <label for="productType">Select Product Type</label>
        <select class="form-control" id="productType">
          <option value='Books & Ephemera'>Books & Ephemera</option>
          <option value="Art">Art</option>
          <option value="Coins & Currency">Coins & Currency</option>
          <option value='Gems & Minerals'>Gems & Minerals</option>
          <option value='Diverse Collectibles'>Diverse Collectibles</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="productDescription">Product Description</label>
        <textarea class="form-control" id="productDescription" rows="8"></textarea>

        <label for="productCondition">Product Condition</label>
        <input type="text" class="form-control" id="productCondition" placeholder="Enter Product Condition">
      </div>
      <div class="form-group">
        <label for="storageLocation">Storage Location</label>
        <input type="text" class="form-control" id="storageLocation" placeholder="Enter Storage Location">
      </div>
      <div class="form-group">
        <label for="image1Path">Image 1</label>
        <input type="text" class="form-control" name="image1Path" id="image1Path" placeholder="Enter Image 1 File Name" #image1Path>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <button class="btn btn-submit" id="editPostSubmitButton" (click)="onEditListingSubmit()">Submit</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-delete" id="deletePostButton" (click)="deleteListing()">Delete Listing</button>
        </div>
      </div>
    </div>
  </div>
</div>
