.main-image{
  max-width: 80%;
  margin: auto;
  border: 5px solid #eaeaea;
}

.listing-text-section {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
}

.listing-title{
  font-weight: bold;
}

img {
  border-radius: 2px;
  display: block;
  margin: auto;
}
