<script type="text/javascript">
  $(document).ready(function(){
    $('.lightbox').nivoLightbox();
  });
</script>
<div class="row">

  <div class="col-sm-3">
    <img class="main-image" src="../../assets/images/{{(listingToDisplay | async)?.image1Path}}">
  </div>
  <div class="col-sm-9">
    <div class="listing-text-section">
      <h1 class="listing-title">{{(listingToDisplay|async)?.productTitle}}</h1>
      <h2>{{(listingToDisplay| async)?.productSubTitle}}</h2>
      <h2>Price: {{(listingToDisplay | async)?.productPrice}}</h2>
      <p>{{(listingToDisplay| async)?.productDescription}}</p>
    </div>
  </div>
</div>

<h2>Click on an thumbnail to view full size</h2>
<div class="row" id="image-row">
  <div class="col-sm-2">
    <a class="lightbox" href="../../assets/images/{{(listingToDisplay | async)?.image1Path}}" title="testing">
      <img src="../../assets/images/{{(listingToDisplay | async)?.image1Path}}">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <button class="btn" (click)="goToEditListing()">Edit Listing</button>
  </div>
</div>
