<!--<div id="photoblock">-->
<!--<div id="slider" class="nivoSlider">-->

<!--</div>-->
<!--</div>-->

<div>
  <div class="col-sm-2">
  <a class="magnifier-thumb-wrapper lightbox" href="../../assets/images/sampleArt1.jpg">
    <img id="thumb" src="../../assets/images/sampleArt1.jpg"
         data-large-img-url="../../assets/images/sampleArt1.jpg"
         data-large-img-wrapper="preview">
  </a>
  </div>
  <div class="col-sm-6">
    <div class="magnifier-preview" id="preview" style="width: 510px; height: 800px">Starry Night Over The Rhone<br>by Vincent van Gogh</div>
  </div>
  <div class="col-sm-4">
      <a class="lightbox" href="../../assets/images/sampleBook1.jpg" title="testing">
        <img alt="Faux fur vest" src="../../assets/images/sampleBook1.jpg" class="test"></a>
  </div>
</div>
