.listing-display-li {
  background-color: ghostwhite;
  border: .2em solid #eaeaea;
  min-height: 5em;
  margin: .8em 0;
  padding: .5em;
  color: #1b6d85;
  font-size: 150%;
}

.listing-display-ul {
  list-style: none;
}

.listing-title {
  font-size: 1em;
}

.image-thumbnail{
  max-width: 100%;
}
