<h1>{{title}}</h1>

<ul class="listing-display-ul">

  <li class="listing-display-li" *ngFor="let currentListing of listings | async">
    <div class="row">
      <div class="col-md-2">
        <img class="image-thumbnail" src="../../assets/images/{{currentListing.image1Path}}">
      </div>
      <div class="col-md-8">
        <h1 class="listing-title">{{currentListing.productTitle}}</h1>
        <a (click)="goToFullListing(currentListing)">View Full Listing</a>
      </div>
    </div>
  </li>
</ul>
