.listing-display-li {
  background-color: ghostwhite;
  border: .2em solid #eaeaea;
  min-height: 10em;
  margin: .8em 0;
  padding: 1em;
  color: #1b6d85;
  font-size: 150%;
}

.listing-display-ul {
  list-style: none;
}

.listing-title {
  margin-top:3%;
}

.listing-title a{
  display: block;
  bottom: 0;
  margin-top: 10px;
  cursor: pointer
}

.image-thumbnail{
  max-width: 100%;
  box-shadow: 0 10px 6px -6px #777;
}

.effect6
{
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
}

.title {
  text-align: center;
}
